#about-top {
  background-image: url("../../assets/images/chris-mongeau-ZRdSZeVKBaE-unsplash.jpg");
  background-position: center;
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0px;
  padding: 75px;
}

#about-top-text {
  padding: 50px;
  width: 50%;
}

#about-top-text h2 {
  color: white;
  font-size: 40px;
  font-weight: lighter;
}

#about-top-text p {
  color: white;
  font-size: 22px;
}

  /* Extra small devices */
  @media only screen and (min-width: 320px) and (max-width: 479px) {

    #about-top-text {
      padding: 0px;
      width: 100%;
      
    }
  }
  
  /* Portrait tablets and large phones*/
  @media only screen and (min-width: 480px) and (max-width: 768px) {
  
    /* all good  */
     
  }
  
  /* Landscape tablets */
  @media only screen and (min-width: 769px) and (max-width: 900px) {
    
    /* all good  */
    
  }