#about-top {
  background-image: url("../../assets/images/chris-mongeau-ZRdSZeVKBaE-unsplash.jpg");
  background-position: center;
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0px;
  padding: 75px;
}

#about-top h2 {
    font-size: 44px;
    font-weight: lighter;
}

#about-top p {
    font-size: 25px;
}
