#home-splash {
  background-color: rgb(42, 29, 59);
}

#splash-text {
    position: absolute;
    top: 60%;
    right: 60%;
    padding-left: 75px;
  }

  #splash-text h2 {
    font-size: 40px;
    font-weight: lighter;
    color: rgb(116, 81, 163);
  }

video {
  width: 100%;
  height: 100%;
  
}

#cta-btn {
  background-color: rgb(116, 81, 163);
  border: 2px solid;
  border-radius: 20px;
  padding: 12px;
  color: white;
  /* font-weight: bold; */
  font-size: 20px;
  margin-bottom: 50px;
}

#cta-btn:hover {
  background-color: transparent;
    transition: 0.5s ease;
    color: rgb(42, 29, 59);
}

#cta-btn a {
  color: white;
  text-decoration: none;
}

#cta-btn a:hover {
  color: silver;
    transition: 0.5s ease;
    color: rgb(42, 29, 59);
}

#our-services {
  background-color: rgb(42, 29, 59);
  display: flex;
  flex-direction: column;
  align-items: center;
}

#our-services h3 {
  font-size: 30px;
  color: white;
  border: 2px solid;
  border-radius: 10px;
  padding: 20px !important;
}

#our-services-cards {
    display: flex;
    justify-content: space-evenly;
  }
  
  #our-services-cards .card {
    text-align: center;
    margin: 50px;
    padding: 0px 30px 30px 30px;
    color: white;
    font-size: 25px;
    width: 75%;
  }
  
  .service-icon {
    font-size: 50px;
  }
  
  #learn-more-btn {
    background-color: rgb(116, 81, 163);
    border: 2px solid;
    border-radius: 20px;
    padding: 12px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 50px;
  }
  
  #learn-more-btn a {
    text-decoration: none !important;
      color: white;
  }
  
  #learn-more-btn:hover {
    color: silver;
    background-color: transparent;
    transition: 0.5s ease;
  }

  /* Extra small devices */
  @media only screen and (min-width: 320px) and (max-width: 479px) {

    #splash-text {
      display: none;
    }

    
    #our-services h3 {
      font-size: 20px;
      text-align: center;
      margin-top: 50px;
      margin-bottom: 50px;
    }

    #our-services-cards {
      flex-direction: column;
      align-items: center;
    }

    #our-services-cards .card {
      margin: 0px;
      font-size: 20px;
    }


  }
  
  /* Portrait tablets and large phones*/
  @media only screen and (min-width: 480px) and (max-width: 768px) {

    #splash-text {
      position: absolute;
      top: 30%;
      right: 60%;
    }

    #splash-text h2 {
      font-size: 30px;
    }

    #our-services h3 {
      font-size: 20px;
      text-align: center;
      margin-top: 50px;
      margin-bottom: 50px;
    }

    #our-services-cards .card {
      margin: 0px;
      font-size: 20px;
    }

    #cta-btn {
      font-size: 15px;
    }

    #learn-more-btn {
      font-size: 15px;
    }
  
  }
  
  /* Landscape tablets */
  @media only screen and (min-width: 769px) and (max-width: 900px) {
    #splash-text {
      position: absolute;
      top: 30%;
      right: 60%;
    }

    #splash-text h2 {
      font-size: 30px;
    }

    #our-services h3 {
      font-size: 20px;
      text-align: center;
      margin-top: 50px;
      margin-bottom: 50px;
    }

    #our-services-cards .card {
      margin: 0px;
      font-size: 20px;
    }

    #cta-btn {
      font-size: 15px;
    }

    #learn-more-btn {
      font-size: 15px;
    }

  }